<?xml version="1.0" encoding="UTF-8"?>

<config>
    <telegram-api>
        <token>TOKEN</token>
    </telegram-api>
    <database>
        <prefix value="PREFIX"/>
        <url value="URL"/>
        <username value="USER"/>
        <password value="PASS"/>
        <extra value="EXTRA"/>
    </database>
</config>


